<app-home-navbar></app-home-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">Emp Id</label>
                    <input name="empId" [(ngModel)]="empId" type="text" class="form-control">

                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">First Name</label>
                    <input name="firstName" [(ngModel)]="firstName" type="text" class="form-control">

                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">Last Name</label>
                    <input name="lastName" [(ngModel)]="lastName" type="text" class="form-control">

                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">House Number</label>
                    <input name="houseNumber" [(ngModel)]="houseNumber" type="text" class="form-control">

                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">House Name</label>
                    <input name="houseNAme" [(ngModel)]="houseNAme" type="text" class="form-control">

                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">Street Name</label>
                    <input name="streetName" [(ngModel)]="streetName" type="text" class="form-control">

                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">PinCode</label>
                    <input name="pinCode" [(ngModel)]="pinCode" type="text" class="form-control">

                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">district</label>
                    <input name="district" [(ngModel)]="district" type="text" class="form-control">

                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">state</label>
                    <input name="state" [(ngModel)]="state" type="text" class="form-control">

                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">country</label>
                    <input name="country" [(ngModel)]="country" type="text" class="form-control">

                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">mobile</label>
                    <input name="mobile" [(ngModel)]="mobile" type="text" class="form-control">

                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">emailId</label>
                    <input name="emailId" [(ngModel)]="emailId" type="text" class="form-control">

                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">parentNAme</label>
                    <input name="parentNAme" [(ngModel)]="parentNAme" type="text" class="form-control">

                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">gender</label>
                    <input name="gender" [(ngModel)]="gender" type="text" class="form-control">

                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">yearsOfExperience</label>
                    <input name="yearsOfExperience" [(ngModel)]="yearsOfExperience" type="text" class="form-control">

                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">highestDegree</label>
                    <input name="highestDegree" [(ngModel)]="highestDegree" type="text" class="form-control">

                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">doj</label>
                    <input name="doj" [(ngModel)]="doj" type="text" class="form-control">

                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">username</label>
                    <input required name="username" [(ngModel)]="username" type="text" class="form-control">

                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">password</label>
                    <input  name="password" [(ngModel)]="password" type="password" class="form-control" required>

                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">confirmPassword</label>
                    <input required name="confirmPassword" [(ngModel)]="confirmPassword" type="password" class="form-control">

                </div>

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <button (click)="employeeReg()"  class="btn btn-outline-primary"> Register </button>

                </div>
            </div>

        </div>
    </div>
</div>